Flask==2.3.0  # Ensure you're using Flask 2.3.0
Werkzeug==2.3.0  # Upgrade Werkzeug to 2.3.0 or higher
gunicorn==20.1.0
google-auth==2.22.0
google-auth-oauthlib==0.5.3
google-auth-httplib2==0.1.0
google-api-python-client==2.80.0
